<footer class="footer">
	<div class="container">
        <p class="text-muted">&copy; 2018 UNFORGETTABLE</p>
        <a href="https://github.com/Johan3953/Finals" target="_blank"><img src="images/github.png" class="img-responsive center-block" width="30px"></a><br>
    </div>
</footer>